.rk{
    max-width: 400px;
}
.rkkk{
    display:flex;
}
.header-class{
    min-width: 75%;
}
.check-button{
    margin-top: 20px;
}
.checker{
    text-align: center;
}
.delete-icon{
    margin-right: 10px;
}
.saved-passwords-container{
    margin-top: 20px;
    margin-left: 20px;
}
.saved-passwords{
    margin-top:30px;
    margin-right:20px;

}